<DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>Create a Team and Heroes!</h1>
      <form action="/teams" method="POST">

        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team[name]">
        <label for="team_motto">Team Motto:</label>
        <input type="text" id="team_motto" name="team[motto]">

        <h2>Hero 1</h2>
        <label for="member1_name">Hero Name:</label>
        <input type="text" id="member1_name" name="team[member][][name]">
        <label for="member1_power">Hero Power:</label>
        <input type="text" id="member1_power" name="team[member][][power]">
        <label for="member1_bio">Hero Biography:</label>
        <input type="text" id="member1_bio" name="team[member][][bio]">

      </form>
    </body>
  </html>
