<DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1><%= @team['name'] %></h1>
      <h2>Team Motto: <% @team['motto'] %></h2>

        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team[name]">
        <label for="team_motto">Team Motto:</label>
        <input type="text" id="team_motto" name="team[motto]">

        <h2>Hero 1</h2>
        <label for="member1_name">Hero Name:</label>
        <input type="text" id="member1_name" name="team[members][][name]">
        <label for="member1_power">Hero Power:</label>
        <input type="text" id="member1_power" name="team[members][][power]">
        <label for="member1_bio">Hero Biography:</label>
        <input type="text" id="member1_bio" name="team[members][][bio]">

        <h2>Hero 2</h2>
        <label for="member2_name">Hero Name:</label>
        <input type="text" id="member2_name" name="team[members][][name]">
        <label for="member2_power">Hero Power:</label>
        <input type="text" id="member2_power" name="team[members][][power]">
        <label for="member2_bio">Hero Biography:</label>
        <input type="text" id="member2_bio" name="team[members][][bio]">

        <h2>Hero 3</h2>
        <label for="member3_name">Hero Name:</label>
        <input type="text" id="member3_name" name="team[members][][name]">
        <label for="member3_power">Hero Power:</label>
        <input type="text" id="member3_power" name="team[members][][power]">
        <label for="member3_bio">Hero Biography:</label>
        <input type="text" id="member3_bio" name="team[members][][bio]">

    </body>
  </html>
